<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300&family=League+Gothic&family=Mochiy+Pop+P+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
            

*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    

}
main{
    height: 100vh;
    display: flex;
}
.upper{
    background-image: url('bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 18vh;
}
body{
    max-height: 70%;
}

.nav nav ul{
    display: flex;
    margin-top: 8px; 
    margin-left: 62%; 
    padding: 0px 100px;
    
}
.nav{
    background-color: orange;
    height: 6vh;
    width: 100VW;
}
.nav nav ul li{
    list-style: none;
    overflow-y: hidden;

}
.nav nav ul li a{
    
    font-family: 'Bebas Neue', cursive;
text-decoration: none;
font-size: 20px;
color: rgb(14, 15, 15);
padding: 4px 4px;
font-weight: bold;
margin-left: 16px;
margin-right: 16px;

}
 nav ul li a:hover{
    color: white;
    font-weight: bold;
    text-shadow: aquamarine;
    cursor: pointer;
 }
.logo{
    height: 15vh;
}
.logo h1{
    
    font-size: 22px;
    margin: 2px 2px;
    display: flex;
    color: rgb(0, 14, 15);
    margin-top: 25px;
}
.logo2{
    height: 90px;
    width: 200px;
    margin-top: 1px;
    position: absolute;
    left: 84%;
    

}
.logo2 h3{
    text-align: center;
    margin-top: 2px;
}
.upper{
    display: flex;
    border-bottom: 1px solid black; 
}
        .projects{
            display: flex;
            padding-left: 20px;
            max-height: 100vh;
        }
        .container{
            
            max-width: 50vw;
            max-height: 80vh;
            border-bottom: 1px solid black;
        }

    </style>
</head>
<body>
    <div class="upper">
        <div class="logo">
            <h1>â–‘â–’â–“â–ˆâ–ºâ”€â• á¢á’á¾já¬áŸá†á¥fá½ â•â”€â—„â–ˆâ–“â–’â–‘</h1>

        </div>
        <div class="logo2">
            <h3> ğ”¸â„• ğ•€â„•ğ•‹ğ”¼ğ”¾â„ğ”¸ğ•‹ğ”¼ğ”» â„™ğ•ƒğ”¸ğ•‹ğ”½ğ•†â„ğ•„ ğ”½ğ•†â„ â„‚ğ•†â„•â„•ğ”¼â„‚ğ•‹ğ•€ğ•†â„• ğ”¸â„‚â„ğ•†ğ•Šğ•Š â„‚ğ•†ğ•ƒğ•ƒğ”¼ğ”¾ğ”¼ğ•Š</h3>

        </div>
    </div>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/view">VIEW</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </div>

    <div class="projects">
        <ol>
            
       
    <%adddatasList.forEach(adddata=>{%> 
        <li>
        <div class="container">
            
                
                    <h1>PROJECT NAME--<%=adddata.projectname%></h1></div>
        <h4><%=adddata.Description%></h4>
        <h4><%=adddata.approach%></h4>
        <h4><%=adddata.reference%></h4>
        <%})%>
                </li>
            </ol>
            
    </div>
    </div>
</body>
</html>