<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECTIFY</title>
        <script src="https://kit.fontawesome.com/727412ae02.js" crossorigin="anonymous"></script>
        <script>
            function ShowDiv() {
            document.getElementsByClassName('hide').style.display = "block";}
        </script>
        <script src="script.js"></script>

        
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="upper">
<div class="logo">
            <h1>â–‘â–’â–“â–ˆâ–ºâ”€â• á¢á’á¾já¬áŸá†á¥fá½ â•â”€â—„â–ˆâ–“â–’â–‘</h1>
            
</div>
<div class="logo2">
    <h3> ğ”¸â„• ğ•€â„•ğ•‹ğ”¼ğ”¾â„ğ”¸ğ•‹ğ”¼ğ”» â„™ğ•ƒğ”¸ğ•‹ğ”½ğ•†â„ğ•„ ğ”½ğ•†â„ â„‚ğ•†â„•â„•ğ”¼â„‚ğ•‹ğ•€ğ•†â„• ğ”¸â„‚â„ğ•†ğ•Šğ•Š â„‚ğ•†ğ•ƒğ•ƒğ”¼ğ”¾ğ”¼ğ•Š</h3>
    
</div>
        </div> 
        <div class="nav">
            <nav>
                <ul>
                 <li><a href="add">ADD</a></li>
                 <li><a href="view">VIEW</a></li>
                 <li><a href="login">LOGIN</a></li>
                 <li><a href="signup">SIGNUP</a></li>
                 <li><a href="logout">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
        <!-- <div class="hide" id="welcomeDiv">
                <li><a href="/ADMIN">Admin Login</a></li>
                <li><a href="/Institute">Institute Login</a></li>
                <li><a href="/Company">Company Login</a></li>
        </div> -->
        <!-- <div class="proj">
            <ul>
            <li>
                <a href="add">ADD PROJECT</a>
            </li>
            <li><a href="view">VIEW PROJECTS</a></li>
        </div> -->
</header>
    <main>
        <div class="container">
        <div class="vide02">
            <video src="VV.mp4" autoplay loop preload height="500px" width="80%"></video>
        </div>
        
        <div id="ABOUTUS">
<h1>â’¶â’·â“„â“Šâ“‰ â“…â“‡â“„â’¿â’ºâ’¸â“‰â’¾â’»â“</h1>

    
    <h2>INTEGRATED PLATFORM:-
</h2>
    <h3>The PROJECTIFY is an integrated platform which will create integrity between all colleges/universities of country. Basically in this platform the college/university admin will provide the summary of the project which the students are performing in their colleges/universities. Basic concept behind PROJECTIFY is to give a knowledge sharing platform from where the institues will get knowledge about the ongoing projects in various institutes of country.
        And PROJECTIFY is providing an additional feature where various company's will provide the details of the projects which are effective in future socolleges/universities can adopt them. </h3>

        </div>
        </div>

</main>
    
    <footer>
        <div class="left">
    <h1>CONTACT US</h1>
    <h3>TEAM PROJECTIFY</h3>
        <h3>EMAIL-samanjot94@gmail.com</h3>
</div>
<div class="right">
    <h3>PROJECTIFY &copy Copyright 2022</h3>
     <h4>Site Best Viewed in </h4>
    <h4>Chrome,Safari etc.... </h4>
</div>
    </footer>
    
</body>
</html>