<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
    <link rel="stylesheet" href="../static/signup.css">
</head>

<body>
    <header>
        <div class="uprsign">
            <div class="logo">
                <h1>â–‘â–’â–“â–ˆâ–ºâ”€â• á¢á’á¾já¬áŸá†á¥fá½ â•â”€â—„â–ˆâ–“â–’â–‘</h1>

            </div>
            <div class="logo2">
                <h3> ğ”¸â„• ğ•€â„•ğ•‹ğ”¼ğ”¾â„ğ”¸ğ•‹ğ”¼ğ”» â„™ğ•ƒğ”¸ğ•‹ğ”½ğ•†â„ğ•„ ğ”½ğ•†â„ â„‚ğ•†â„•â„•ğ”¼â„‚ğ•‹ğ•€ğ•†â„• ğ”¸â„‚â„ğ•†ğ•Šğ•Š â„‚ğ•†ğ•ƒğ•ƒğ”¼ğ”¾ğ”¼ğ•Š</h3>

            </div>
        </div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="/">HOME</a> HOME</li>
                    <li><a href="project">PROJECT</a> PROJECTS</li>
                    <li><a href="login">LOGIN</a> LOGIN</li>

                </ul>
            </nav>
        </div>

    </header>
    <main>
        <div class="signup">
            <div class="buttons">
                <ul>
                    <li>SIGNUP ::</li>
                    <li><a href="clg-sgn" class="brd">COLLEGE</a></li>
                    
                    <li><a href="cmpny-sgn">COMPANY</a></li>
                </ul>
            </div>
            <div class="container">
            form(action="/signup", method="post")   
                <input type="text" value="" name="institutename"  placeholder="ENTER INSTITUTE NAME">
                <input type="text" value="" name="instituteid" placeholder="ENTER INSTITUTE ID">
                <input type="email" value="" name="email" placeholder="ENTER EMAIL">
                <input type="password" value="" name="password" placeholder="enter new password">
                <input type="password" value="" name="confirmpassword" placeholder="enter password again">
                <h3>already a member? <a href="login">login</a></h3>
                input(type="submit" value
                ="register")
                <h3>* By signing up,you agree to our
                    <a href="terms">Terms of use</a>  and acknowledge      that you read our Privacy Policy. </h3>

                         </div>
        </div>
    </main>
</body>

</html>